<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>

    <div class="about">
    <img src="/images/GQ.jpg" alt="Felix Lobrecht GQ photo">
    <div class ="aboutText"><h2>wir treffen uns am Kotti</h2>
    <p>
    Felix Lobrecht steht seit 2015 als Stand-up-Comedian auf der Bühne.
    Erste Bühnenerfahrungen hatte er bereits bei verschiedenen Poetry Slams gesammelt. 
    Schnell wurde klar, dass er ein echtes Naturtalent ist.
     2018 wurde er mit dem Deutschen Comedypreis als bester Newcomer ausgezeichnet.
      Ein Jahr lang erhielt der Berliner die 1 Live Krone.
       Bundesweit bekannt wurde Felix Lobrecht durch seine regelmäßigen Auftritte in verschiedensten Fernsehformaten,
        den Erfolgspodcast "Gemischtes Hack" und seine Graphic Novel,
         die nun verfilmt wird.
          Bevor er Stand-up-Comedian wurde, studierte Felix Lobrecht Wirtschafts-
           und Politikwissenschaften in Marburg und Potsdam. 
    </p>
    </div>
</div>
</body>
</html>