<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>

    <img class = "workPic" src="/images/water.jpg" alt="Felix Lobrecht GQ photo">
    
    <div class="worksText">
    <h3>Auszeichnungen</h3>
    <ul>
        <li>Deutscher Comedypreis 2018 – Bester Newcomer</li>
        <li>1 Live Krone – Comedy-Krone (2019)</li>
        <li>WDR Publikumspreis – Mein Hörbuch 2019 für Sonne und Beton (im Rahmen des Deutschen Hörbuchpreises) (2020)</li>
        <li>Deutscher Comedypreis 2020 – Bester Komiker[21]</li>
        <li>Deutscher Comedypreis 2020 – Bester Comedy-Podcast (Männer) für Gemischtes Hack</li>
        <li>1 Live Krone – Comedy-Krone (2020) für Gemischtes Hack</li>
    </ul>

    <h3>Veröffentlichungen</h3>
    <ul>
        <li>10 Minuten? Dit sind ja 20 Mark!, zusammen mit Malte Rosskopf, Satyr Verlag, Berlin 2015, ISBN 978-3-944035-55-0.</li>
        <li>Sonne und Beton, Ullstein Verlag, Berlin 2017, ISBN 978-3-8437-1477-8.</li>
    </ul>
    </div>
</body>
</html>